#map {
    height: 600px;
    margin: 3em;
    background-color: rgb(232, 242, 255);
}

#map::before {
    content: 'loading...';
    font-size: 4em;
    text-align: center;
    width: 95%;
    position: fixed;
    margin-top: 2em;
}

.leaflet-popup-content-wrapper {
    width: 100%;
}